{% layout none %}
<!DOCTYPE html>
<html>

<head>
  <title>Please Log In</title>
  
  <!-- ===================== Styles ========================= -->

  {{ 'style.scss.css' | asset_url |  stylesheet_tag }}
  {{ 'animate.min.css' | asset_url | stylesheet_tag }}
  {{ 'https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css' | stylesheet_tag }}
  
  <!-- ===================== JS ========================= -->
  
  {{ 'jquery.min.js' | asset_url | script_tag }}
  {{ 'wow.min.js' | asset_url | script_tag }}
  {{ content_for_header }}
  

  {% include 'shogun-head' %}
</head>
<body>
	{{ content_for_layout }}
  

  <script type="text/javascript">
    document.getElementById('password').focus();
  </script>

</body>
</html>
