{% comment %} MetaField data {% endcomment %}
{% assign Landing-Page-Feature-Image = page.metafields["global"]["Landing-Page-Feature-Image"] %}
{% assign Landing-Page-Feature-Image-Alt = page.metafields["global"]["Landing-Page-Feature-Image-Alt"] %}
{% assign Landing-Page-Feature-Video = page.metafields["global"]["Landing-Page-Feature-Video"] %}
{% assign Landing-Page-Feature-Headline = page.metafields["global"]["Landing-Page-Feature-Headline"] %}
{% assign Landing-Page-Feature-Content = page.metafields["global"]["Landing-Page-Feature-Content"] %}
{% assign Landing-Page-Feature-Link = page.metafields["global"]["Landing-Page-Feature-Link"] %}

<style>
  header{
    position: relative;
  }
  .landing-page-feature__headline{
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    display: inline-block;
  }
  .landing-page-feature__headline:after{
    content: '';
    background: #E71C39;
    height: 8px;
    width: 160px;
    margin: 25px auto 0;
    display: block;
  }
  .landing-page-feature{
    position: relative;
    display: flex;
    margin-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
  }
  .landing-page-no-reviews #shopify-section-landing-page-feature{
    padding: 0 0 100px;
  }
  .landing-page-feature__graphic{
    width: 55%;
    max-height: 550px;
    overflow: hidden;
  }
  .landing-page-feature__graphic.graphic__empty {
    position: relative;
    background-color: #dae6ec;
    max-height: 550px;
    overflow: hidden;
  }
  .landing-page-feature__graphic.graphic__empty svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .landing-page-feature__copy{
    align-self: center;
    width: 42%;
    
    
  }
  .landing-page-feature__description p{
    font-size: 18px;
    line-height: 26px;
  }
  
  .landing-page-feature__see-more a.btn{
    font-size: 14px;
    margin: 30px 0 15px 0;
    display: block;
    background-color: #c3e5ff;
    color: #2698f9;
    border: 2px solid #c3e5ff;
    border-radius: 3px;
    width: 150px;
  }
  .landing-page-feature__see-more a.btn:hover{
    background-color: #2698f9;
    border: 2px solid #2698f9;
    color: #fff;
  }

  
@media only screen and (min-width: 751px) and (max-width: 1200px) {
  header{
    position: relative;
  }
  .landing-page-feature__headline{
    font-size: 34px;
  }


  .landing-page-feature{
    padding-left: 30px;
    padding-right: 30px;
  }
  .landing-page-feature__graphic{
    width: 40%;
    
  }
  .landing-page-feature__copy{
    width: 58%;
    
    
  }
  .landing-page-feature__description p{
    font-size: 16px;
    {% comment %} line-height: 28px; {% endcomment %}
  }

}
  
  
  
  
@media only screen and (max-width: 750px){ 

  .landing-page-feature__headline{
    margin: 40px auto;
    display: flex;
    justify-content: center;
    width: 165px;
  }


  .landing-page-feature{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
  }
  .landing-page-feature__graphic{
    width: 100%;
  }
  .landing-page-feature__copy{
    align-self: center;
    width: 100%;
  }
  .landing-page-feature__see-more a.btn{
    margin: 15px auto 5px auto;
  }
  .landing-page-feature__graphic.graphic__empty {
    max-height: 370px;
    height: 370px;
  }
}
  
</style>


  <div class="landing-page-feature">
   
  {% if Landing-Page-Feature-Image != blank %}
    <div class="landing-page-feature__graphic">
      <img src="{{ Landing-Page-Feature-Image }}" alt="{{ Landing-Page-Feature-Image-Alt }}" />
    </div>
  {% else %}
      <div class="landing-page-feature__graphic graphic__empty">
      {{ 'image' | placeholder_svg_tag }}
      </div>
  {% endif %}
    
  {% if Landing-Page-Feature-Video != blank %}
    <div class="landing-page-feature__graphic">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ Landing-Page-Feature-Video }}" frameborder="0" rel="0" modestbranding="1" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  {% endif %}
   
    
    <div class="landing-page-feature__copy">
      {% if Landing-Page-Feature-Headline != blank %}
      <h3 class="heading landing-page-feature__headline">{{ Landing-Page-Feature-Headline }}</h3>
      {% endif %}
      {% if Landing-Page-Feature-Content != blank %}
      <div class="landing-page-feature__description">{{ Landing-Page-Feature-Content }}</div>
      {% endif %}
      <div class="landing-page-feature__see-more"><a href="{{ Landing-Page-Feature-Link }}" class="btn" >See More</a></div>
    </div>

  </div>

{% stylesheet %}


{% endstylesheet %}

{% javascript %}
{% endjavascript %}

