<div id='password_section' style="background:url({% if section.settings.password-page-background != blank %}{{ section.settings.password-page-background | img_url: "master" }}{% else %}{{ 'password-image.png' | asset_url  }}{% endif %}) center no-repeat;">
    <div class="login_password_section">
      <div id='login'>
        <div class="login_header">
          {% if section.settings.logo_use_image %}
          <a href="/" itemprop="url">
            {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
            <img src="{{ section.settings.logo | img_url: image_size }}" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo">
          </a>
          {% else %}
          <h1><a href="/" itemprop="url">{{ shop.name }}</a></h1>
          {% endif %}
          
          {% if shop.password_message and shop.password_message != '' %}
          {{ shop.password_message }}
          {% else %}
         <h1>{{section.settings.title}}</h1>
          {% endif %}
        </div>
        {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
        <!-- <label for='password'>Enter store using password: </label> -->
        <input type='password' name='password' id='password' placeholder="Enter store using password" />
        <div class="actions">
          <input class="btn" name="commit" type="submit" value="Enter" />
        </div>
        {% endform %}
      </div>

      <div id='login_footer'>
        <div id='owner'>Are you the store owner? <a href="/admin">Log in here</a> or <a href="/admin/online_store/preferences?tutorial=unlock">change your password settings</a></div>
        
        {% if section.settings.enable_sharing %}
        <div class="social_share">
          <h3>share on:</h3>
          {% include 'social-links' %}
         </div>
        {% endif %}
        <div id='powered'>
          This store is powered by {{ 'shopify_icon.png' | asset_url | img_tag }} <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify" rel="nofollow">Shopify</a>
        </div>
      </div>
    </div>

  </div>



{% schema %}
  {
    "name": "Password Page",
    "settings": [
		  {
          "type": "header",
          "content": "Logo"
        },
        {
          "type": "checkbox",
          "id": "logo_use_image",
          "label": "Use Custom Logo"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Custom Logo"
        },
        {
          "type": "text",
          "id": "logo_max_width",
          "label": "Max Logo Width",
          "default": "200"
        },
		{
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Will be opening soon..."
        },
        {
          "type": "image_picker",
          "id": "password-page-background",
          "label": "Background Image"
        },
		{
			"type":"checkbox",
			"id":"enable_sharing",
			"label":"Enable Sharing Icon",
			"default": true
		}



   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}